	<div ng-include="'admin/navbar-admin.html'"></div>
		
	<div ng-controller="CustomerController as customerCtrl">
	
	<div class="container">
	
		<div class="jumbotron text-center"><h2>Manage Customers</h2></div>
	
		<form>
	        <div class="form-group">
	          <div class="input-group">
	            <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
	            <input type="text" class="form-control" placeholder="Search Customer by Name..." ng-model="searchCustomer.customerName">
	            <span class="input-group-btn">            
	            <button ng-click="setCustomerDetailsForCreate()" data-toggle="modal" data-target="#createCustomer" class="btn btn-success">
	            <span class="glyphicon glyphicon-plus"></span> Create new Customer
	            </button>
	            </span>
	          </div>
	        </div>
      	</form>
	
		<div class="table-responsive">
			<div ng-show="!allCustomersFound" ng-bind-html="allCustomersNotFoundMsg" class="well well-sm text-center"></div>
			<table id="allCustomersTable" ng-show="allCustomersFound" class="table table-bordered">
				<thead>
					<tr>
						<th>Customer Id</th>
						<th>Customer Name</th>
						<th>Password</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="customer in allCustomers | toArray:false | filter:searchCustomer">
						<td>{{customer.customerId}}</td>
						<td>{{customer.customerName}}</td>
						<td>{{customer.password}}</td>
						<td>
						<button ng-click="setCustomerDetailsForRemove(customer.customerName, customer.customerId)" data-toggle="modal" data-target="#removeCustomer" class="btn btn-danger">
						Remove <span style="margin-left:2px" class="glyphicon glyphicon-trash"></span>
						</button>
						<button ng-click="setCustomerDetailsForUpdate(customer.customerName, customer.customerId)" data-toggle="modal" data-target="#updateCustomer" class="btn btn-primary">
						Update<span style="margin-left:7px" class="glyphicon glyphicon-edit"></span>
						</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<!-- Modal -->
		<div class="modal fade" id="createCustomer" role="dialog">
		  <div class="modal-dialog modal-lg">
		  
		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">Create Customer</h4>
		      </div>
		      <div class="modal-body">
		      
      			<!-- Success alert -->
                <div class="alert alert-success text-center" role="alert"
                  ng-show="createCustomerStatus=='success'">
                  <strong><span class="glyphicon glyphicon-ok-circle"></span></strong>
                  Customer "{{toCreateCustomer.customerName}}" Created Successfully
                </div>
		      
		      	<div ng-hide="createCustomerStatus=='success'">
		        	<h3 class="text-center">Please Enter Details for Creating a new Customer:</h3>
					<form ng-submit="createCustomer()" class="form-horizontal">
					
						<!-- Failure alert -->
		                <div class="alert alert-danger text-center" role="alert"
		                  ng-show="createCustomerStatus=='failure'">
		                  <strong><span class="glyphicon glyphicon-remove-circle"></span></strong>
		                  Create Customer Failed: {{errorMessage}}
		                </div>
					
						<div class="form-group">
							<label class="col-sm-3 control-label">Customer Name:</label>
							<div class="col-sm-9">
					        	<input type="text" ng-model="toCreateCustomer.customerName" class="form-control" required>
					    	</div>
					    </div>
					    <div class="form-group">
							<label class="col-sm-3 control-label">Password:</label>
							<div class="col-sm-9">
					        	<input type="password" ng-model="toCreateCustomer.password" class="form-control" required>
					    	</div>
					    </div>
					    <div class="alert alert-warning text-center">
					    Password must contain the following: Minimum eight characters, at least one uppercase letter,
					    one lowercase letter, one number and one special character, without any whitespaces
					    </div>
						<div class="form-group">        
					      <div align="center">
					        <button type="submit" class="btn btn-default">Create</button>
					      </div>
					    </div>
					</form>
				</div>
			</div>
				<div class="modal-footer">
		          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        </div>
			</div>
			</div>
		</div>
		
		  <!-- Modal -->
 		  <div class="modal fade" id="removeCustomer" role="dialog">
		    <div class="modal-dialog modal-lg">
		    
		      <!-- Modal content-->
		      <div class="modal-content">
		        <div class="modal-header">
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		          <h4 class="modal-title">Remove Customer</h4>
		        </div>
		        <div class="modal-body">
		        
	        		<!-- Success alert -->
	                <div class="alert alert-success" role="alert"
	                  ng-show="removeCustomerStatus=='success'">
	                  <strong><span class="glyphicon glyphicon-ok-circle"></span></strong>
	                  Customer "{{toRemoveCustomerName}}" Removed Successfully
	                </div>
		        
		        	<div ng-hide="removeCustomerStatus=='success'">
		          	<h3 class="text-center">Are you Sure you Want to Remove Customer: "{{toRemoveCustomerName}}"?</h3>
					<form ng-submit="removeCustomer()" class="form-horizontal">
					
						<!-- Failure alert -->
		                <div class="alert alert-danger" role="alert"
		                  ng-show="removeCustomerStatus=='failure'">
		                  <strong><span class="glyphicon glyphicon-remove-circle"></span></strong>
		                  Remove Customer Failed: {{errorMessage}}
		                </div>
					
						<div class="form-group">        
					      <div align="center">
					        <button type="submit" class="btn btn-default">Remove</button>
					      </div>
					    </div>
					</form>
					</div>
		        </div>
		        <div class="modal-footer">
		          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        </div>
		      </div>
		      
		    </div>
		  </div>
		
		  <!-- Modal -->
		  <div class="modal fade" id="updateCustomer" role="dialog">
		    <div class="modal-dialog modal-lg">
		    
		      <!-- Modal content-->
		      <div class="modal-content">
		        <div class="modal-header">
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		          <h4 class="modal-title">Update Customer</h4>
		        </div>
		        <div class="modal-body">
		        
	        		<!-- Success alert -->
	                <div class="alert alert-success text-center" role="alert"
	                  ng-show="updateCustomerStatus=='success'">
	                  <strong><span class="glyphicon glyphicon-ok-circle"></span></strong>
	                  Customer "{{toUpdateCustomerName}}" Updated Successfully
	                </div>
		        
		        	<div ng-hide="updateCustomerStatus=='success'">
		          	<h3 class="text-center">Please Enter Details to Update Customer: "{{toUpdateCustomerName}}"</h3>
					<form ng-submit="updateCustomer()" class="form-horizontal">
					
						<!-- Failure alert -->
		                <div class="alert alert-danger text-center" role="alert"
		                  ng-show="updateCustomerStatus=='failure'">
		                  <strong><span class="glyphicon glyphicon-remove-circle"></span></strong>
		                  Update Customer Failed: {{errorMessage}}
		                </div>
					
					    <div class="form-group">
							<label class="col-sm-3 control-label">Password:</label>
							<div class="col-sm-9">
					        	<input type="password" ng-model="toUpdateCustomer.password" class="form-control" required>
					    	</div>
					    </div>
					   <div class="alert alert-warning text-center">
					    Password must contain the following: Minimum eight characters, at least one uppercase letter,
					    one lowercase letter, one number and one special character, without any whitespaces
					    </div>
						<div class="form-group">        
					      <div align="center">
					        <button type="submit" class="btn btn-default">Update</button>
					      </div>
					    </div>
					</form>
					</div>
		        </div>
		        <div class="modal-footer">
		          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        </div>
		      </div>
		      
		    </div>
		  </div>
		  
	</div>
	
	</div>